body {
    background-color: aqua;
}

div {
    width: 80%;
    margin: auto;
    margin-top: 300px;
}

.dark {
    background-color: black;
    color: aliceblue;
}

.answer {
    display: none;
    padding: 10px;
    background-color: #eee;
}